/* slider css */
/* Slider.css */

.slider-container {
    overflow: hidden;
    width: 600px;   /* Set width of the slider */
    margin: auto;
  }
  
  .slider {
    display: flex;
  }
  
  .slide {
    min-width: 100%;  /* Ensure each slide takes full width */
    pointer-events: none; /* Prevents child elements from interrupting the drag */
  }
  
  .slide img {
    width: 100%;
    height: auto;
  }
  
.btn_grad{
   box-shadow: -5px 3px 8px rgba(0, 0, 0, 0.2);
    background:  linear-gradient(338deg, #FF29A8 2.79%, #AD47DD 27.07%, #3237E2 63.78%, #00B5FF 102.02%), #17246D !important
}
.svg_size{
  width: 125px;
  height: 125px;
}
.css-e70qmq .MuiTextField-root{
  margin: 8px 0px;
}
@media screen and (max-width: 768px) {
  .splide__arrows.splide__arrows--ltr {
    display: none;
  }
  .svg_size{
    width: 100px;
    height: 100px;
  }
}
.blog_card img{
  transition: transform 1s ease; 
}
.blog_card:hover img {
  transform: scale(1.1); /* Scale the image on hover */
}
.accordion-item{
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.1);
}
.faqs_form{
  background-image: linear-gradient(180deg, rgba(55,196,207,1) 30%, rgba(62,31,129,1) 100%), url("./assets/slide3.jpg");
}