@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: #fff;
}

.topbar {
  background: rgb(65, 184, 238);
  background: linear-gradient(90deg, rgba(65, 184, 238, 1) 34%, rgba(4, 136, 210, 1) 100%);
}







.whatDo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./assets/whatdo3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.welcomebg {
  background: rgb(63, 94, 251);
  background: radial-gradient(circle, rgba(63, 94, 251, 0.4990371148459384) 0%, rgba(255, 255, 255, 0) 35%);
}

.service_grade {
  background: rgb(63, 94, 251);
  background: radial-gradient(circle, rgba(63, 94, 251, 0.4990371148459384) 0%, rgba(255, 255, 255, 0) 35%);
}

.form_area {
  background: rgb(65,185,238);
  background: linear-gradient(201deg, rgba(65,185,238,1) 30%, rgba(0,102,161,1) 100%);
  box-shadow: 10px 5px 15px rgba(16, 16, 17, 0.4);
}
.footer_bg{
 background-image: url("./assets/footer.jpg");
 background-repeat: no-repeat;
 background-size: cover;
background-position: center;
}
.social_bg{
  background: rgb(65,185,238);
background: linear-gradient(201deg, rgba(65,185,238,1) 30%, rgba(0,102,161,1) 100%);
}